<p>
	<%= image_tag 'layout/logo.png', class: 'logo' %>
	<h2>Making Awesomeness, living our passion.</h2>
</p>
<p class="txt">
	We are using incredible tools, producing high quality code. We believe that nothing is more effective than working on an engrossing project. That's what we always do.  
</p>

<p class="separator">
</p>

<div class="footer">
	<p>
		<div class="email">
			<span class="more-contact">contact</span>
			<span class="contact-infos"> : we@jstech.ch (<a href="mailto:we@jstech.ch?subject=Need Awesomeness">mailto</a>)</span>
		</div>, 
		<a href="https://github.com/JS-Tech" target="_blank">github</a>,
	</p>
	<input type="checkbox" id="toggle"><label for="toggle"></label>
	<div class="more" >
		<p class="intro"><span class="txt">{<span class="points">...</span>}</span></p>
		<p class="title"><span class="num"></span>Well, eum... what else to tell you?</p>
		<p><span class="num"></span>Here is what we love : web dev, Ruby on rails, all new exciting stuff which help producing code, agile developpment, design that effectively fits users needs (UCD), pasta, hard moments of a rushy late new deployment.</p>
		<p><span class="num"></span>Feel free to contact us (English or French) if you have a project, an idea or need advice.</p>
		<p class="intro intro2"><span class="txt">{<span class="points">...</span>}</span></p>
		<p class="title"><span class="num"></span>Our projects</p>
		<p><span class="num"></span><a href="http://reseaujeunesse.ch" target="_blank">reseau jeunesse</a>, interactive and social plate-forme. Managing full stack : from design to backend server using capistrano, including an elasticsearch service.</p>
		<p><span class="num"></span><a href="http://neurones.ch" target="_blank">neurones</a>, interactive plate-forme. Including a full home-made personal micro website editor tool for users.</p>
		<p><span class="num"></span><a href="https://github.com/nkcr/Google-Cloud-Storage-Upload" target="_blank">google cloud backup</a>, automated script to upload any bash command directly to google cloud. Used in production for database backup.</p>
		<p class="intro intro3"><span class="txt">{<span class="points">...</span>}</span></p>
		<p class="title"><span class="num"></span>But who are we?</p>
		<p><span class="num"></span>Not much to say, what we do defines us. At least, here are our names : Keran Kocher, Noemien Kocher.</p>
	</div>		
</div>