<% content_for :id, "khcr" %>

<h2>
	<%= link_to '↞', '/team' %> 
	Keran Kocher <%= image_tag "khcr/me.jpg" %>
</h2>

<p>My favourite tools are Ruby on Rails in hand with JavaScript and its aweseome framework AngularJS. I'm able to manage the deployement of a rails app from coding to server configuration. I also know tools from other backgrounds like Python and Django. <br>And don't look at my picture, I'm not that serious.</p>