<% content_for :id, "khcr" %>

<h2>
	<%= link_to '↞', '/team' %> 
	Keran Kocher <%= image_tag "khcr/me.jpg" %>
</h2>

<p>Happy Rails dev involved with many cool stuff.<br>Don't look at my picture, I'm not that serious.</p>