<% content_for :id, "loops" %>

<h2>Loops</h2>

<iframe src="https://app.box.com/embed_widget/s/se8p52632fcop2kbverc5t6dyvrpwpbh?view=icon&sort=name&direction=ASC&theme=gray" width="100%" height="100%" frameborder="0"allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>