<% content_for :id, "nkcr" %>

<h2>
	<%= link_to '↞', '/team' %> 
	Noémien Kocher <%= image_tag "nkcr/me.jpg" %>
</h2>

<p>Happy Rails dev involved with many cool stuff like Java, Postgres, Nginx, C & Bash.</p>