<% content_for :id, "team" %>

<h2>
	<%= link_to '↞', root_path %> 
	The dream Team
</h2>

<ul>
	<li><%= link_to "Keran Kocher", khcr_path %></li>
	<li><%= link_to "Noémien Kocher", nkcr_path %></li>
</ul>