<% content_for :id, "resources" %>

<h2>Resources</h2>

<ul>
	<% @resources.each do |resource| %>
	<li>
		<span class="title"><%= link_to resource.title, resource.url %></span>
		<span class="desc"><%= resource.description %></span>
	</li>
	<% end %>
</ul>